.notfound-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 70vh; 
  text-align: center;
  color: #333;
}

.notfound-titulo {
  font-size: 3rem;
  color: var(--color5);
  margin-bottom: 1rem;
}

.notfound-texto {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.notfound-link {
  background-color: var(--color2);
  color: var(--color1);
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
}

.notfound-link:hover {
  background-color: var(--color3);
}
